In [14]:
# importing dependencies
import pandas as pd
import zipfile as zf

In [15]:
# importing file and converting to a df
zip_file = zf.ZipFile('../Resources/archive.zip') 
hotel_df = pd.read_csv(zip_file.open('Hotel_Reviews.csv'))

# since there is no unique column, using the index as a unique column by naming it 'Id'
hotel_df.index.name='Id'

# check the df
hotel_df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
Id,,,,,,,,,,,,,,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [16]:
# check for null/na values
hotel_df.isnull().sum()

Hotel_Address                                    0
Additional_Number_of_Scoring                     0
Review_Date                                      0
Average_Score                                    0
Hotel_Name                                       0
Reviewer_Nationality                             0
Negative_Review                                  0
Review_Total_Negative_Word_Counts                0
Total_Number_of_Reviews                          0
Positive_Review                                  0
Review_Total_Positive_Word_Counts                0
Total_Number_of_Reviews_Reviewer_Has_Given       0
Reviewer_Score                                   0
Tags                                             0
days_since_review                                0
lat                                           3268
lng                                           3268
dtype: int64

In [17]:
# drop rows that are na/null
hotel_df = hotel_df.dropna() 
hotel_df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
Id,,,,,,,,,,,,,,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [18]:
# check for null again
hotel_df.isnull().sum()

Hotel_Address                                 0
Additional_Number_of_Scoring                  0
Review_Date                                   0
Average_Score                                 0
Hotel_Name                                    0
Reviewer_Nationality                          0
Negative_Review                               0
Review_Total_Negative_Word_Counts             0
Total_Number_of_Reviews                       0
Positive_Review                               0
Review_Total_Positive_Word_Counts             0
Total_Number_of_Reviews_Reviewer_Has_Given    0
Reviewer_Score                                0
Tags                                          0
days_since_review                             0
lat                                           0
lng                                           0
dtype: int64

# Breaking the big table into 2 tables: 1st with hotel reviews, 2nd with hotel locations

In [19]:
## Table 1: Hotel reviews only - no location data

# hotel reviws without lat and lng
hotel_reviews_without_location = hotel_df.drop(columns=['lat','lng'])
hotel_reviews_without_location

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review
Id,,,,,,,,,,,,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day

In [20]:
## Table 2: DF with locations (no reviews)

# creating a subset of the dataframe with unique values on the column 'Hotel_Address'
unique_address_df = hotel_df.drop_duplicates(subset=['Hotel_Address'])

# droping all columns excpet Hotel Address, Name, lat and lng
hotel_location = unique_address_df.drop(columns =['Additional_Number_of_Scoring', 'Review_Date', 'Average_Score', 'Reviewer_Nationality', 'Negative_Review', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews','Positive_Review', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags', 'days_since_review' ])
hotel_location

,Hotel_Address,Hotel_Name,lat,lng
Id,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,52.360576,4.915968
405,1 15 Templeton Place Earl s Court Kensington a...,K K Hotel George,51.491888,-0.194971
971,1 2 Serjeant s Inn Fleet Street City of London...,Apex Temple Court Hotel,51.513734,-0.108751
2008,1 3 Queens Garden Westminster Borough London W...,The Park Grand London Paddington,51.514218,-0.180903
3778,1 3 Rue d Argentine 16th arr 75116 Paris France,Monhotel Lounge SPA,48.874348,2.289733
...,...,...,...,...
511962,Wiedner Hauptstra e 44 04 Wieden 1040 Vienna A...,Suite Hotel 900 m zur Oper,48.193523,16.366915
512401,Wildpretmarkt 5 01 Innere Stadt 1010 Vienna Au...,Hotel Amadeus,48.210447,16.371578
512545,Wilton Place Knightsbridge Westminster Borough...,The Berkeley,51.502091,-0.157780
512645,Wrights Lane Kensington and Chelsea London W8 ...,Holiday Inn London Kensington,51.499981,-0.192879
515413,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,48.203745,16.335677

# Exporting as csv files

In [21]:
# exporting as csv files
hotel_reviews_without_location.to_csv('tables/hotel_reviews_for_project.csv', index=True)
hotel_location.to_csv('tables/hotel_location_for_project.csv', index=False)

# Creating sample tables of 1000 rows

In [22]:
# creating a sample of table 1, exporting and checking the exported file
sample_table_hotel_reviews = hotel_reviews_without_location.loc[0:999]
sample_table_hotel_reviews

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review
Id,,,,,,,,,,,,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,No Negative,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day
996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day
997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,No Positive,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day
998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day
999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day

In [23]:
# creating a sample of table 2, exporting and checking the exported file
sample_table_hotel_location = hotel_location.loc[0:999]
sample_table_hotel_location

,Hotel_Address,Hotel_Name,lat,lng
Id,,,,
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,52.360576,4.915968
405,1 15 Templeton Place Earl s Court Kensington a...,K K Hotel George,51.491888,-0.194971
971,1 2 Serjeant s Inn Fleet Street City of London...,Apex Temple Court Hotel,51.513734,-0.108751

In [11]:
# exporting the new tables
sample_table_hotel_reviews.to_csv('tables/sample_table_hotel_reviews.csv', index=True)
sample_table_hotel_location.to_csv('tables/sample_table_hotel_location.csv', index=False)


# unique nationalities in the table

In [12]:
nationality_number = hotel_df["Reviewer_Nationality"].unique()
nationality_number

array([' Russia ', ' Ireland ', ' Australia ', ' United Kingdom ',
       ' New Zealand ', ' Poland ', ' Belgium ', ' Norway ', ' France ',
       ' Italy ', ' Canada ', ' Netherlands ', ' Germany ',
       ' United States of America ', ' Hungary ', ' Israel ',
       ' Switzerland ', ' India ', ' United Arab Emirates ', ' Malaysia ',
       ' Denmark ', ' South Africa ', ' Rwanda ', ' Finland ',
       ' Portugal ', ' Luxembourg ', ' Spain ', ' Malta ', ' China ',
       ' Turkey ', ' Ukraine ', ' Gibraltar ', ' Argentina ',
       ' Abkhazia Georgia ', ' Isle of Man ', ' Sweden ', ' Croatia ',
       ' Saudi Arabia ', ' Lithuania ', ' Slovenia ', ' Panama ',
       ' Austria ', ' Brazil ', ' Taiwan ', ' Iceland ', ' Iran ',
       ' Liechtenstein ', ' Chile ', ' Hong Kong ',
       ' United States Minor Outlying Islands ', ' Morocco ', ' Oman ',
       ' Lebanon ', ' Qatar ', ' Nigeria ', ' Romania ',
       ' Czech Republic ', ' Greece ', ' Thailand ', ' Singapore ',
       ' Guernsey ', ' Latvia ', ' Namibia ', ' Japan ', ' Egypt ',
       ' Slovakia ', ' South Korea ', ' Kuwait ', ' Bahrain ', ' Jersey ',
       ' Jordan ', ' Bulgaria ', ' Cyprus ', ' Albania ', ' Estonia ',
       ' Serbia ', ' Belarus ', ' Puerto Rico ', ' Sudan ', ' Sri Lanka ',
       ' Indonesia ', ' Honduras ', ' Philippines ', ' Montenegro ',
       ' Uruguay ', ' Brunei ', ' Pakistan ', ' Kosovo ', ' Azerbaijan ',
       ' ', ' Botswana ', ' Tanzania ', ' Bangladesh ',
       ' Trinidad and Tobago ', ' Palestinian Territory ', ' Peru ',
       ' Mexico ', ' Kenya ', ' Zimbabwe ', ' Macedonia ', ' Georgia ',
       ' Bermuda ', ' Costa Rica ', ' Bahamas ', ' Maldives ',
       ' Barbados ', ' Libya ', ' Fiji ', ' Angola ', ' Kazakhstan ',
       ' Bosnia and Herzegovina ', ' Colombia ', ' Armenia ', ' Vietnam ',
       ' Iraq ', ' Monaco ', ' Uganda ', ' Togo ', ' Guatemala ',
       ' Ghana ', ' Macau ', ' Zambia ', ' Jamaica ', ' Mauritius ',
       ' Venezuela ', ' Crimea ', ' St Maarten ', ' Algeria ',
       ' Equatorial Guinea ', ' Nicaragua ', ' Comoros ',
       ' Cayman Islands ', ' Ethiopia ', ' Dominican Republic ',
       ' Ecuador ', ' Uzbekistan ', ' Turks Caicos Islands ', ' Nepal ',
       ' Mozambique ', ' Sierra Leone ', ' Ivory Coast ', ' Cura ao ',
       ' Antigua Barbuda ', ' Burundi ', ' East Timor ', ' Tunisia ',
       ' Andorra ', ' U S Virgin Islands ', ' Antarctica ',
       ' Papua New Guinea ', ' Montserrat ', ' Malawi ', ' Yemen ',
       ' Suriname ', ' Paraguay ', ' Aruba ', ' Mongolia ', ' Moldova ',
       ' St Pierre and Miquelon ', ' Cambodia ', ' Seychelles ',
       ' Guyana ', ' Senegal ', ' El Salvador ', ' Guam ', ' Myanmar ',
       ' Madagascar ', ' Benin ', ' Saint Kitts and Nevis ',
       ' Martinique ', ' Vanuatu ', ' British Virgin Islands ',
       ' Belize ', ' Democratic Republic of the Congo ', ' Gabon ',
       ' New Caledonia ', ' Bhutan ', ' Faroe Islands ', ' Kyrgyzstan ',
       ' Gambia ', ' Syria ', ' Laos ', ' Mauritania ',
       ' Central Africa Republic ', ' Reunion ', ' Saint Martin ',
       ' Cameroon ', ' Guadeloupe ', ' Liberia ', ' Haiti ', ' Mali ',
       ' Saint Lucia ', ' French Guiana ', ' Swaziland ',
       ' Falkland Islands Malvinas ', ' Tajikistan ', ' Afghanistan ',
       ' Bolivia ', ' Dominica ', ' Niger ', ' Samoa ', ' Lesotho ',
       ' French Polynesia ', ' Grenada ', ' Wallis and Futuna ',
       ' Svalbard Jan Mayen ', ' Djibouti ', ' Saint Barts ',
       ' Kiribati ', ' Cook Islands ', ' Congo ', ' Somalia ',
       ' Eritrea ', ' Saint Vincent Grenadines ', ' San Marino ',
       ' Turkmenistan ', ' Vatican City ', ' South Sudan ', ' Anguilla ',
       ' Cocos K I ', ' Bonaire St Eustatius and Saba ', ' Cape Verde ',
       ' Northern Mariana Islands ', ' Tuvalu ', ' Guinea ',
       ' American Samoa ', ' Palau '], dtype=object)

In [13]:
len(nationality_number)

227