In [1]:
# importinng dependencies
import pandas as pd
import zipfile as zf
import numpy as np

In [2]:
# importing the table created in the last NLP Attempt (Attempt 1)
hotel_reviews = pd.read_csv('../../DataFiles/TransformedData/tables/hotel_reviews_for_NLP2_int_review_score.csv')
hotel_reviews

                                                Review  Reviewer_Score
0     I am so angry that i made this post available...               2
1     No real complaints the hotel was great great ...               7
2     Rooms are nice but for elderly a bit difficul...               7
3     My room was dirty and I was afraid to walk ba...               3
4     You When I booked with your company on line y...               6
..                                                 ...             ...
995   Great location room was outstanding beds were...              10
996   The cleaner knocked on our door at 8am which ...              10
997   This was my second time at this hotel the fir...               8
998   Going as a family with two rooms hired in the...              10
999   Some of the complimentary items of food from ...              10

[1000 rows x 2 columns]

# Challenge 
* Choosing the format of Reviewer_Score as int resulted in an increase in accuracy, however the accuracy of 11.85% is still low

# Solution: 
* Convert the values in the column 'Reviewer_Score' to 3 categories - Bad, Average, and Good

## Categories
* Category 1: "Bad" - Score <= 4 
* Category 2: "Average" - Score 5-7
* Category 3: "Good" - Score >= 8

In [3]:
# Create a new column 'Review_Category'
hotel_reviews['Review_Category'] = ''
hotel_reviews

,Review,Reviewer_Score,Review_Category
0,I am so angry that i made this post available...,2,
1,No real complaints the hotel was great great ...,7,
2,Rooms are nice but for elderly a bit difficul...,7,
3,My room was dirty and I was afraid to walk ba...,3,
4,You When I booked with your company on line y...,6,
...,...,...,...
995,Great location room was outstanding beds were...,10,
996,The cleaner knocked on our door at 8am which ...,10,
997,This was my second time at this hotel the fir...,8,
998,Going as a family with two rooms hired in the...,10,
999,Some of the complimentary items of food from ...,10,

In [4]:
# Converting values into Categories
hotel_reviews.loc[(hotel_reviews['Reviewer_Score'] <= 4), 'Review_Category'] = 'Bad'
hotel_reviews.loc[(hotel_reviews['Reviewer_Score'] >= 8), 'Review_Category'] = 'Good'
hotel_reviews.loc[(hotel_reviews['Reviewer_Score'] > 4) & (hotel_reviews['Reviewer_Score'] < 8), 'Review_Category'] = 'Average'
hotel_reviews

,Review,Reviewer_Score,Review_Category
0,I am so angry that i made this post available...,2,Bad
1,No real complaints the hotel was great great ...,7,Average
2,Rooms are nice but for elderly a bit difficul...,7,Average
3,My room was dirty and I was afraid to walk ba...,3,Bad
4,You When I booked with your company on line y...,6,Average
...,...,...,...
995,Great location room was outstanding beds were...,10,Good
996,The cleaner knocked on our door at 8am which ...,10,Good
997,This was my second time at this hotel the fir...,8,Good
998,Going as a family with two rooms hired in the...,10,Good
999,Some of the complimentary items of food from ...,10,Good

In [5]:
# Drop the column 'Reviewer_Score'
hotel_reviews = hotel_reviews.drop(columns ='Reviewer_Score')
hotel_reviews

                                                Review Review_Category
0     I am so angry that i made this post available...             Bad
1     No real complaints the hotel was great great ...         Average
2     Rooms are nice but for elderly a bit difficul...         Average
3     My room was dirty and I was afraid to walk ba...             Bad
4     You When I booked with your company on line y...         Average
..                                                 ...             ...
995   Great location room was outstanding beds were...            Good
996   The cleaner knocked on our door at 8am which ...            Good
997   This was my second time at this hotel the fir...            Good
998   Going as a family with two rooms hired in the...            Good
999   Some of the complimentary items of food from ...            Good

[1000 rows x 2 columns]

In [6]:
# Exporting as a CSV file
hotel_reviews.to_csv('../../DataFiles/TransformedData/tables/hotel_reviews_for_NLP3_3Cat_review_score.csv', index=False)