In [1]:
# importinng dependencies
import pandas as pd
import zipfile as zf
import numpy as np

In [2]:
# importing the table created in the last NLP Attempt (Attempt 1)
hotel_reviews = pd.read_csv('../../DataFiles/TransformedData/tables/hotel_reviews_for_NLP1_float_review_score.csv')
hotel_reviews

                                                Review  Reviewer_Score
0     I am so angry that i made this post available...             2.9
1     No real complaints the hotel was great great ...             7.5
2     Rooms are nice but for elderly a bit difficul...             7.1
3     My room was dirty and I was afraid to walk ba...             3.8
4     You When I booked with your company on line y...             6.7
..                                                 ...             ...
995   Great location room was outstanding beds were...            10.0
996   The cleaner knocked on our door at 8am which ...            10.0
997   This was my second time at this hotel the fir...             8.3
998   Going as a family with two rooms hired in the...            10.0
999   Some of the complimentary items of food from ...            10.0

[1000 rows x 2 columns]

# Challenge 
* Choosing the format of Reviewer_Score as float resulted in too big an output range for the PySpark Algorithm, which resulted in very low accuracy of the model: 0.072433

# Solution: 
* Change the format of Reviewer_Score to int

In [3]:
hotel_reviews['Reviewer_Score'] = hotel_reviews['Reviewer_Score'].astype(np.int64)
hotel_reviews

                                                Review  Reviewer_Score
0     I am so angry that i made this post available...               2
1     No real complaints the hotel was great great ...               7
2     Rooms are nice but for elderly a bit difficul...               7
3     My room was dirty and I was afraid to walk ba...               3
4     You When I booked with your company on line y...               6
..                                                 ...             ...
995   Great location room was outstanding beds were...              10
996   The cleaner knocked on our door at 8am which ...              10
997   This was my second time at this hotel the fir...               8
998   Going as a family with two rooms hired in the...              10
999   Some of the complimentary items of food from ...              10

[1000 rows x 2 columns]

In [4]:
# Exporting as a CSV file
hotel_reviews.to_csv('../../DataFiles/TransformedData/tables/hotel_reviews_for_NLP2_int_review_score.csv', index=False)