In [1]:
# importinng dependencies
import pandas as pd

In [2]:
# import Sample Table 1
sample_review_df = pd.read_csv("sample_table_for_NLP.csv")
sample_review_df

,Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,Combined_Review
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,I am so angry that i made this post available...
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,NaN,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,No real complaints the hotel was great great ...
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,Rooms are nice but for elderly a bit difficul...
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,My room was dirty and I was afraid to walk ba...
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,You When I booked with your company on line y...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,NaN,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day,Great location room was outstanding beds were...
996,996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day,The cleaner knocked on our door at 8am which ...
997,997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,NaN,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day,This was my second time at this hotel the fir...
998,998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day,Going as a family with two rooms hired in the...
999,999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day,Some of the complimentary items of food from ...

In [3]:
sample_review_df["Review_Class"] = ""

sample_review_df

,Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,Combined_Review,Review_Class
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,I am so angry that i made this post available...,
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,NaN,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,No real complaints the hotel was great great ...,
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,Rooms are nice but for elderly a bit difficul...,
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,My room was dirty and I was afraid to walk ba...,
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,You When I booked with your company on line y...,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,NaN,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day,Great location room was outstanding beds were...,
996,996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day,The cleaner knocked on our door at 8am which ...,
997,997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,NaN,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day,This was my second time at this hotel the fir...,
998,998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day,Going as a family with two rooms hired in the...,
999,999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day,Some of the complimentary items of food from ...,

In [4]:
sample_review_df.dtypes

Id                                              int64
Hotel_Address                                  object
Additional_Number_of_Scoring                    int64
Review_Date                                    object
Average_Score                                 float64
Hotel_Name                                     object
Reviewer_Nationality                           object
Negative_Review                                object
Review_Total_Negative_Word_Counts               int64
Total_Number_of_Reviews                         int64
Positive_Review                                object
Review_Total_Positive_Word_Counts               int64
Total_Number_of_Reviews_Reviewer_Has_Given      int64
Reviewer_Score                                float64
Tags                                           object
days_since_review                              object
Combined_Review                                object
Review_Class                                   object
dtype: object

In [5]:
# For Scores <= 4.9, changing the value in 'review'

sample_review_df.loc[sample_review_df["Reviewer_Score"] <= 4.9, "Review_Class"] = "negative"
sample_review_df.loc[sample_review_df["Reviewer_Score"] >= 5.0, "Review_Class"] = "positive"

sample_review_df

,Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,Combined_Review,Review_Class
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,I am so angry that i made this post available...,negative
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,NaN,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,No real complaints the hotel was great great ...,positive
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,Rooms are nice but for elderly a bit difficul...,positive
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,My room was dirty and I was afraid to walk ba...,negative
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,You When I booked with your company on line y...,positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,NaN,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day,Great location room was outstanding beds were...,positive
996,996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day,The cleaner knocked on our door at 8am which ...,positive
997,997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,NaN,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day,This was my second time at this hotel the fir...,positive
998,998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day,Going as a family with two rooms hired in the...,positive
999,999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day,Some of the complimentary items of food from ...,positive

In [6]:
# Exporting the categorical_reviews
sample_review_df.to_csv('Sample_positive_negative_review_table.csv', index=False)