In [1]:
# importinng dependencies
import pandas as pd

In [2]:
# importing the table created in the 1st NLP Attempt (Attempt 1)
hotel_reviews = pd.read_csv('../../DataFiles/TransformedData/tables/hotel_reviews_for_NLP1_float_review_score.csv')
hotel_reviews

                                                Review  Reviewer_Score
0     I am so angry that i made this post available...             2.9
1     No real complaints the hotel was great great ...             7.5
2     Rooms are nice but for elderly a bit difficul...             7.1
3     My room was dirty and I was afraid to walk ba...             3.8
4     You When I booked with your company on line y...             6.7
..                                                 ...             ...
995   Great location room was outstanding beds were...            10.0
996   The cleaner knocked on our door at 8am which ...            10.0
997   This was my second time at this hotel the fir...             8.3
998   Going as a family with two rooms hired in the...            10.0
999   Some of the complimentary items of food from ...            10.0

[1000 rows x 2 columns]

# Challenge 
* Choosing 3 categories improved the accuracy of our NLP algorithm is 45.55 %, now trying to imporve it further

# Solution: 
* Adding a new column 'Review_Sentiment' that will have the values as 'positive' and 'negative'
* Sentiment 'Positive' = Reviewer_Score >= 5
* Sentiment 'Negative' = Reviewer_Score <= 4.9

In [3]:
# creating a new column: 'Reviewer_Sentiment' - values 'positive' and 'negative'
hotel_reviews['Reviewer_Sentiment'] = ''
hotel_reviews

,Review,Reviewer_Score,Reviewer_Sentiment
0,I am so angry that i made this post available...,2.9,
1,No real complaints the hotel was great great ...,7.5,
2,Rooms are nice but for elderly a bit difficul...,7.1,
3,My room was dirty and I was afraid to walk ba...,3.8,
4,You When I booked with your company on line y...,6.7,
...,...,...,...
995,Great location room was outstanding beds were...,10.0,
996,The cleaner knocked on our door at 8am which ...,10.0,
997,This was my second time at this hotel the fir...,8.3,
998,Going as a family with two rooms hired in the...,10.0,
999,Some of the complimentary items of food from ...,10.0,

In [4]:
# For Scores <= 4.9, changing the value in 'review'

hotel_reviews.loc[hotel_reviews["Reviewer_Score"] <= 4.9, "Reviewer_Sentiment"] = "negative"
hotel_reviews.loc[hotel_reviews["Reviewer_Score"] >= 5.0, "Reviewer_Sentiment"] = "positive"

hotel_reviews

,Review,Reviewer_Score,Reviewer_Sentiment
0,I am so angry that i made this post available...,2.9,negative
1,No real complaints the hotel was great great ...,7.5,positive
2,Rooms are nice but for elderly a bit difficul...,7.1,positive
3,My room was dirty and I was afraid to walk ba...,3.8,negative
4,You When I booked with your company on line y...,6.7,positive
...,...,...,...
995,Great location room was outstanding beds were...,10.0,positive
996,The cleaner knocked on our door at 8am which ...,10.0,positive
997,This was my second time at this hotel the fir...,8.3,positive
998,Going as a family with two rooms hired in the...,10.0,positive
999,Some of the complimentary items of food from ...,10.0,positive

In [5]:
# dropping the Column 'Reviewer_Score'
hotel_reviews = hotel_reviews.drop(columns = 'Reviewer_Score')
hotel_reviews

                                                Review Reviewer_Sentiment
0     I am so angry that i made this post available...           negative
1     No real complaints the hotel was great great ...           positive
2     Rooms are nice but for elderly a bit difficul...           positive
3     My room was dirty and I was afraid to walk ba...           negative
4     You When I booked with your company on line y...           positive
..                                                 ...                ...
995   Great location room was outstanding beds were...           positive
996   The cleaner knocked on our door at 8am which ...           positive
997   This was my second time at this hotel the fir...           positive
998   Going as a family with two rooms hired in the...           positive
999   Some of the complimentary items of food from ...           positive

[1000 rows x 2 columns]

In [6]:
# Exporting as a CSV file
hotel_reviews.to_csv('../../DataFiles/TransformedData/tables/hotel_reviews_for_NLP4_Positive_Negative_review_score.csv', index=False)